/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

#page {
  margin-left: 180px;
  padding-top: 35px;
  width: 1000px;
  background-color: #F1F1F3;
  height: 600px;
  font-family: Helvetica;
}

.login_error {
  color: #CB0000;
  font-weight: normal;
  margin-left: 290px;
}

#user_nav {
  float: right;
  font-size: 13px;
}

#user_nav a{
  color: #C00000;
  font-size: 15px;
  text-decoration: underline;
}

#user_nav a:hover {
  color: #E23838;
}

.logged_name {
  color: #003399;
  font-weight: bold;
}

input, textarea, select {
  font-family: Helvetica;

}

input[type=text],input[type=password], textarea {
  height: 20px;
  padding: 5px;
  width: 400px;
  font-size: 13px;
  border: 1px solid #7B818C;
  border-radius: 2px;
  background-color: transparent;
}

p {
  line-height: 35px;
  font-size: 13px;
}

textarea {
  height: 90px;
  resize: none;
}

input[type=text]:focus,input[type=password]:focus, textarea:focus {
  border: 1px solid #293F6A;
  background-color: #D2D8E3;
  color: #333333;
}