.pagination {

}

.page {
  background-image: url("/assets/kaminari/normal.png");
  border: 2px solid #ADAFB3;
  border-radius: 4px 4px 4px 4px;
  bottom: 15px;
  color: #003399;
  display: inline-block;
  height: 30px;
  position: relative;
  width: 30px;
  text-align: center;
}

.page a {
  text-decoration: none;
  position: relative;
  top: 5px;
}

.page:hover {
  background-image: url("/assets/kaminari/hover.png");
}

.current {
  background-image: url("/assets/kaminari/current.png");
  border: 2px solid #4C5A78;
  bottom: 9px;
  color: #FFFFFF;
  height: 24px;
  margin-top: -61px;
  padding-top: 6px;
  position: relative;
  width: 30px;
}


.current:hover {
  background-image: url("/assets/kaminari/current.png");
}

.next, .prev, .last, .first {
  border: 2px solid #ADAFB3;
  border-radius: 4px;
  display: inline-block;
  width: 30px;
  height: 30px;
}

.prev {

}

.first {

}

.last {

}