// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$row_odd_color: #CEE3F6;
$row_even_color: #E0E0F8;

table {
  border-collapse: collapse;
  font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
  font-size: 12px;
  margin-bottom: 20px;
  text-align: left;
  table-layout: fixed;
  width: 100%;
}

th, td{
  /*  border: 1px solid #848484;*/
}

/*tr.odd {
background-color: $row_odd_color;
}

tr.even {
background-color: $row_even_color;
}*/

tbody tr:hover td {
  background: url("users/gradhover.png") repeat-x scroll 0 0 #D0DAFD;
  color: #333399;
}

th {
  background: url("users/gradhead.png") repeat-x scroll 0 0 #B9C9FE;
  border-bottom: 1px solid #FFFFFF;
  border-top: 2px solid #D3DDFF;
  color: #003399;
  font-size: 13px;
  font-weight: normal;
  padding: 8px;
  height: 65px;
}

td {
  background: url("users/gradback.png") repeat-x scroll 0 0 #E8EDFF;
  border-bottom: 1px solid #FFFFFF;
  border-top: 1px solid #FFFFFF;
  color: #666699;
  padding: 8px;
  height: 55px;
}

thead {
}

tbody {
}